go 1.25.0

use (
	./shared
	./services/ai-summary-service
	./services/api-gateway
	./services/auth-service
	./services/meeting-service
	./services/organization-service
	./services/transcription-service
	./services/user-service
)
